USE [master]
GO
/****** Object:  Database [Smart Emargency System Bd]    Script Date: 6/4/2026 1:38:00 PM ******/
CREATE DATABASE [Smart Emargency System Bd]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Smart Emargency System Bd_Data', FILENAME = N'E:\SqlServer\MSSQL17.SQLEXPRESS\MSSQL\DATA\Smart Emargency System Bd.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Smart Emargency System Bd_Log', FILENAME = N'E:\SqlServer\MSSQL17.SQLEXPRESS\MSSQL\DATA\Smart Emargency System Bd.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Smart Emargency System Bd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Smart Emargency System Bd]
GO
/****** Object:  Table [dbo].[AccidentReports]    Script Date: 6/4/2026 1:38:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccidentReports](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Location] [nvarchar](255) NULL,
	[MediaPath] [nvarchar](500) NULL,
	[Status] [nvarchar](50) NULL,
	[ReportDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 6/4/2026 1:38:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[BloodGroup] [nvarchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodRequests]    Script Date: 6/4/2026 1:38:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[PatientName] [nvarchar](100) NOT NULL,
	[BloodGroup] [nvarchar](5) NOT NULL,
	[Location] [nvarchar](255) NULL,
	[Phone] [nvarchar](20) NULL,
	[IsUrgent] [bit] NULL,
	[Status] [nvarchar](50) NULL,
	[RequestDate] [datetime] NULL,
	[LoginId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CrimeReports]    Script Date: 6/4/2026 1:38:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CrimeReports](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Location] [nvarchar](255) NULL,
	[MediaPath] [nvarchar](500) NULL,
	[Status] [nvarchar](50) NULL,
	[ReportDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HospitalAdmins]    Script Date: 6/4/2026 1:38:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HospitalAdmins](
	[HospitalAdminId] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[BloodGroup] [nvarchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[HospitalAdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 6/4/2026 1:38:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[LoginId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Status] [bit] NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalReports]    Script Date: 6/4/2026 1:38:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalReports](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[PatientName] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[Location] [nvarchar](255) NULL,
	[Severity] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[ReportDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Police]    Script Date: 6/4/2026 1:38:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Police](
	[PoliceId] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[BloodGroup] [nvarchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[PoliceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/4/2026 1:38:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[BloodGroup] [nvarchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AccidentReports] ON 

INSERT [dbo].[AccidentReports] ([ReportId], [UserName], [Description], [Location], [MediaPath], [Status], [ReportDate]) VALUES (5, N'Rahul Biswas', N'Train Accident', N'Dinajpur', N'C:\Users\USER\Downloads\Train_accident.jpg', N'Pending', CAST(N'2026-05-16T11:40:27.110' AS DateTime))
INSERT [dbo].[AccidentReports] ([ReportId], [UserName], [Description], [Location], [MediaPath], [Status], [ReportDate]) VALUES (7, N'ali', N'bus accident', N'jatrabari', N'C:\Users\USER\Downloads\Accident image.jpg', N'Pending', CAST(N'2026-05-17T11:08:49.970' AS DateTime))
INSERT [dbo].[AccidentReports] ([ReportId], [UserName], [Description], [Location], [MediaPath], [Status], [ReportDate]) VALUES (8, N'ali', N'major accident', N'sonir akra', N'C:\Users\USER\Downloads\Accident image.jpg', N'Pending', CAST(N'2026-05-17T11:19:52.017' AS DateTime))
SET IDENTITY_INSERT [dbo].[AccidentReports] OFF
GO
SET IDENTITY_INSERT [dbo].[BloodRequests] ON 

INSERT [dbo].[BloodRequests] ([RequestId], [PatientName], [BloodGroup], [Location], [Phone], [IsUrgent], [Status], [RequestDate], [LoginId]) VALUES (24, N'Sm Tarik', N'AB-', N'mirpur 2', N'01720106861', 0, N'Open', CAST(N'2026-05-16T19:51:20.930' AS DateTime), 10)
INSERT [dbo].[BloodRequests] ([RequestId], [PatientName], [BloodGroup], [Location], [Phone], [IsUrgent], [Status], [RequestDate], [LoginId]) VALUES (25, N'redip', N'AB-', N'Bosundora', N'01580293649', 1, N'Open', CAST(N'2026-05-16T19:53:15.210' AS DateTime), 11)
INSERT [dbo].[BloodRequests] ([RequestId], [PatientName], [BloodGroup], [Location], [Phone], [IsUrgent], [Status], [RequestDate], [LoginId]) VALUES (49, N'nhfgbfvdcsx', N'B+', N'[pkpom', N'26251651', 1, N'Open', CAST(N'2026-05-19T08:52:48.180' AS DateTime), 38)
SET IDENTITY_INSERT [dbo].[BloodRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[CrimeReports] ON 

INSERT [dbo].[CrimeReports] ([ReportId], [UserName], [Description], [Location], [MediaPath], [Status], [ReportDate]) VALUES (9, N'Humira', N'Crime', N'Jatrabari', N'C:\Users\USER\Downloads\crime1 (1).jpg', N'Pending', CAST(N'2026-05-17T09:31:28.210' AS DateTime))
INSERT [dbo].[CrimeReports] ([ReportId], [UserName], [Description], [Location], [MediaPath], [Status], [ReportDate]) VALUES (10, N'ali', N'crime', N'kuril', N'C:\Users\USER\Downloads\crime2 (1).jpg', N'Pending', CAST(N'2026-05-17T11:09:20.407' AS DateTime))
INSERT [dbo].[CrimeReports] ([ReportId], [UserName], [Description], [Location], [MediaPath], [Status], [ReportDate]) VALUES (11, N'Abdulla', N'crime', N'kuril', N'C:\Users\USER\Downloads\crime2 (1).jpg', N'Pending', CAST(N'2026-05-18T13:25:03.767' AS DateTime))
SET IDENTITY_INSERT [dbo].[CrimeReports] OFF
GO
SET IDENTITY_INSERT [dbo].[Login] ON 

INSERT [dbo].[Login] ([LoginId], [UserName], [Password], [Status], [Role]) VALUES (4, N'hospital', N'hospital', 1, N'Hospital')
INSERT [dbo].[Login] ([LoginId], [UserName], [Password], [Status], [Role]) VALUES (5, N'police', N'police', 1, N'Police')
INSERT [dbo].[Login] ([LoginId], [UserName], [Password], [Status], [Role]) VALUES (10, N'Farabi', N'88', 1, N'User')
SET IDENTITY_INSERT [dbo].[Login] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalReports] ON 

INSERT [dbo].[MedicalReports] ([ReportId], [UserName], [PatientName], [Description], [Location], [Severity], [Status], [ReportDate]) VALUES (6, N'Farabi', N'Rofik', N'sick', N'Dhaka,Mirpur -2', N'Serious', N'Pending', CAST(N'2026-05-18T13:13:01.813' AS DateTime))
SET IDENTITY_INSERT [dbo].[MedicalReports] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [LoginId], [Name], [Email], [Phone], [Address], [BloodGroup]) VALUES (6, 10, N'Farabi', N'farabi@gmail.com', N'01720106861', N'Dhaka', N'B+')
INSERT [dbo].[Users] ([UserId], [LoginId], [Name], [Email], [Phone], [Address], [BloodGroup]) VALUES (7, 11, N'Rabati', N'rabati@gmail.com', N'01720106861', N'Dhaka', N'AB-')
INSERT [dbo].[Users] ([UserId], [LoginId], [Name], [Email], [Phone], [Address], [BloodGroup]) VALUES (24, 32, N'Abdulla', N'abd@gmail.com', N'012', N'Kuril', N'B+')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admins__A9D10534D48BB8F9]    Script Date: 6/4/2026 1:38:00 PM ******/
ALTER TABLE [dbo].[Admins] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Hospital__A9D105342D405EAC]    Script Date: 6/4/2026 1:38:00 PM ******/
ALTER TABLE [dbo].[HospitalAdmins] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Login__C9F284562F70AE25]    Script Date: 6/4/2026 1:38:00 PM ******/
ALTER TABLE [dbo].[Login] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Police__A9D10534E47188B1]    Script Date: 6/4/2026 1:38:00 PM ******/
ALTER TABLE [dbo].[Police] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534231CCC5E]    Script Date: 6/4/2026 1:38:00 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccidentReports] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[AccidentReports] ADD  DEFAULT (getdate()) FOR [ReportDate]
GO
ALTER TABLE [dbo].[BloodRequests] ADD  DEFAULT ((0)) FOR [IsUrgent]
GO
ALTER TABLE [dbo].[BloodRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[BloodRequests] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[CrimeReports] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[CrimeReports] ADD  DEFAULT (getdate()) FOR [ReportDate]
GO
ALTER TABLE [dbo].[Login] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[MedicalReports] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[MedicalReports] ADD  DEFAULT (getdate()) FOR [ReportDate]
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD  CONSTRAINT [FK_Admins_Login] FOREIGN KEY([LoginId])
REFERENCES [dbo].[Login] ([LoginId])
GO
ALTER TABLE [dbo].[Admins] CHECK CONSTRAINT [FK_Admins_Login]
GO
ALTER TABLE [dbo].[BloodRequests]  WITH CHECK ADD FOREIGN KEY([LoginId])
REFERENCES [dbo].[Login] ([LoginId])
GO
ALTER TABLE [dbo].[HospitalAdmins]  WITH CHECK ADD  CONSTRAINT [FK_HospitalAdmins_Login] FOREIGN KEY([LoginId])
REFERENCES [dbo].[Login] ([LoginId])
GO
ALTER TABLE [dbo].[HospitalAdmins] CHECK CONSTRAINT [FK_HospitalAdmins_Login]
GO
ALTER TABLE [dbo].[Police]  WITH CHECK ADD FOREIGN KEY([LoginId])
REFERENCES [dbo].[Login] ([LoginId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Login] FOREIGN KEY([LoginId])
REFERENCES [dbo].[Login] ([LoginId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Login]
GO
USE [master]
GO
